.dashHeader {
    position: absolute;
    top: 25px;
    left: 100px;
}

.dashTitle {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

// --------------------------------------------------------- //

.dashNav {
    font-size: 15px;
    font-weight: 500;
}

.dashNavWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rs-nav-item {
    margin-left: 5px;
}

.dashTag {
    margin-left: 5px;
}

// --------------------------------------------------------- //

.dashLoader {
    position: absolute;
    top: 44vh;
    left: 47%;
}

.dashFetchError {
    position: absolute;
    top: 42vh;
    left: 44vw;
    text-align: center;

    .dashExc {
        transform: scale(3);
        color: gray;
    }

    h5 {
        margin-top: 25px;
        color: rgb(219, 219, 219);
        font-weight: 500;
    }

    button {
        margin-top: 15px;
    }
}