.srvHeader {
    position: absolute;
    top: 100px;
    left: 110px;

    color: gray;
    font-size: 12px;
}

// --------------------------------------------------------- //

.srvItemLocked {
    position: absolute;
    left: 2vw;

    svg {
        color: gray;
    }
}

.srvItemFav {
    position: absolute;
    left: 44vw;

    svg {
        color: #c04ce4e0;
    }
}

.srvHeaderName {
    position: absolute;
    left: 4.4vw;
}

.srvHeaderPing {
    position: absolute;
    left: 46.5vw;
}

.srvHeaderPlayers {
    position: absolute;
    left: 56vw;
}

.srvHeaderMode {
    width: 100px;
    position: absolute;
    left: 65vw;
}

.srvHeaderSortable {

    white-space: nowrap;

    svg {
        color: #c14ce4;
        transform: scale(1.2); 
        margin-top: -2px;
    }
    
    &:hover {
        cursor: pointer;
        color: #c14ce4;
    }
}

// --------------------------------------------------------- //

.srvList {
    position: absolute;
    top: 130px;
    left: 110px;

    width: 85%;

    overflow-y: auto;
    height: 63%;
    padding-right: 20px;
}

.srvItem {
    margin-bottom: 10px;

    background-color: #000000;
    height: 35px;

    border: 2px solid #00000000;
    border-radius: 10px;

    span {
        margin-top: 7px;
        font-weight: 500;
        color: rgb(211, 211, 211);
        font-size: 13px;
    }

    -webkit-transition : border 300ms ease-out;
    -moz-transition : border 300ms ease-out;
    -o-transition : border 300ms ease-out;
    transition : border 300ms ease-out;

    &:hover {
        cursor: pointer;
        border-color: #c14ce4;
    }

    box-shadow: 0 0 5px #000000;

}

.srvItem-selected {
    border-color: #c14ce4;

    span {
        color: rgb(220, 220, 220);
    }

    box-shadow: 0 0 5px #c14ce4;
}

// --------------------------------------------------------- //

.srvItemName {
    position: absolute;
    margin-left: 4.4vw;

    .srvItemFlair {
        font-size: 10px;
        color: rgb(167, 167, 167);
    }
}

.srvItemPing {
    position: absolute;
    margin-left: 46.5vw;
}

.srvItemPlayers {
    position: absolute;
    margin-left: 56vw;

    span {
        color: rgb(167, 167, 167);
    }
}

.srvItemMode {
    position: absolute;
    margin-left: 65vw;
}

// --------------------------------------------------------- //

.srvBarWrapper {
    position: absolute;
    bottom: 30px;
    left: 110px;

    width: 82%;
}

// --------------------------------------------------------- //

.srvEmptyFallback {
    position: absolute;
    top: 270px;
    left: 500px;
    text-align: center;

    svg {
        transform: scale(3);
        color: gray;
    }

    h5 {
        margin-top: 25px;
        color: rgb(219, 219, 219);
        font-weight: 500;
    }

    span {
        color: gray;
    }
}

// --------------------------------------------------------- //

.srvDisplayLocked {
    background-color: #c14ce4 !important;
}

// --------------------------------------------------------- //

.modalCenter {
    margin: 150px auto 0 auto !important;
}

.srvAddButton {
    position: absolute !important;
    top: 25px;
    right: 40px;
}

.srvAddError {
    color: gray;
    position: absolute;
    white-space: nowrap;

    bottom: 30px;
    left: 23px;
}

// --------------------------------------------------------- //

.srvSavePass {
    position: absolute;

    left: -290px;
}

// --------------------------------------------------------- //

.launchModalBody {
    height: 150px;
}

.launchLoader {
   
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%)
}