@import 'rsuite/styles/index.less';

// custom styles
@enable-dark-mode: true;
@primary-color-dark: #c14ce4;
@font-family-base: 'Lucida Grande', 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;