@import 'rsuite/styles/index.less';

// custom styles
@enable-dark-mode: true;
@primary-color-dark: #c14ce4;
@font-family-base: 'Roboto', Helvetica, Arial, sans-serif;

// --------------------------------------------------------- //

#root {
    background: rgb(32,31,32);
    background: linear-gradient(180deg, rgba(32,31,32,1) 0%, rgb(19, 19, 19) 100%);

    // prevent selection
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow: hidden;
}

// --------------------------------------------------------- //

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
  
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
  }

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #922db1, #b03dd3);
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
    box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;;
}

// --------------------------------------------------------- //
// fix legacy icons

.fixLegacy {
    path {
        transform: scale(0.8) translate(4px, 4px)
    }
}

// --------------------------------------------------------- //

.updateLoader {
    position: absolute;
    top: 250px;
    left: 505px;
}

.notificationDiv {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 400px;
    z-index: 1000;
}